.adopt {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
    min-height: 95vh;
}

.adopt header {
   margin-top: 7%;
    padding: 0%;
    text-align: center;
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-size: 260%;
    color: #c0f9ff;
    background-color: #54b3d6;
    
    font-family: "omnium-tagline", sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
}

.adopt-section header h1 {
    
    margin: 0%;
    padding: 0%;
    color: white;
    
}

.adopt main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
}
.adopt h2 {
    
    font-family: "oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    text-align: center;

    
}
.adopt p {
    
    font-family: "oswald", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.adopt-section {
    text-align: center;
    margin-bottom: 5%;
}

.adopt-section img {
    margin-top: -850px;
    width: 900px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4ca3af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0d6968;
}
.how-to-adopt {
    background-color:#54b3d6;
    border-radius: 10px;
    padding: 30px;
    color: #ffffff;
    margin: 500px;
    margin-top: -20px;
  margin-bottom: -10px;
    
 
}
.how-to-adopt h2{
    
    color: #ffffff;
    font-family: "omnium-tagline", sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
font-size: 60px;
 
}

.how-to-adopt ol {
   
    font-family: "oswald", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    
 
}


.adoption-form {
    background-color: #4ca3af;
    border-radius: 10px;
    padding: 30px;
    color: #c0f9ff;
    font-family: "oswald", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    margin: 290px;
    margin-bottom: 5%;
    margin-top: 5%;
 
}
.adoption-form h2{
    
    color: #ffffff;
    font-family: "omnium-tagline", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 60px;
 
}






/* Animation classes */
.show-on-scroll {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* @media to do here */